@model DI.Reminder.Common.LoginModels.Role

@{
    ViewBag.Title = "Add";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h2 class="title">Add role</h2>
    <div class="container padding-top-90">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <div class="padding-top-45 ">
                    <h3 class="padding-bottom-90">
                        @Html.LabelFor(model => model.Name)
                    </h3>
                    <h4>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </h4>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="padding-top-30">
                        <div>
                            <h4>
                                <input type="submit" style="text-decoration:none; width:100%;" class="btn" value="Save" />
                            </h4>
                        </div>
                    </div>

                }

                <div class="padding-top-20">
                    <div>
                        <h4>
                            <a type="button" href="/Role/ShowAll" style="text-decoration:none; width:100%;" class="btn">Back to list</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


}