@model DI.Reminder.Web.Models.CategoryViewModel

@{
    ViewBag.Title = "Add";
}
<link href="~/Content/RegistrationSheet.css" rel="stylesheet" />
<h2 class="title">Add category</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            @Html.LabelFor(model => model.category.Name, htmlAttributes: new { @class = "boton1" })
            <div>
                @Html.EditorFor(model => model.category.Name, new { htmlAttributes = new { @class = "input" } })
                @Html.ValidationMessageFor(model => model.category.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.Label("ParentCategory", htmlAttributes: new { @class = "boton1" })
            <div>
                @Html.DropDownListFor(model => model.category.ParentID, Model.AllCategories, htmlAttributes: new { @style = " width: 310px; height: 48px; border: 1px solid rgba(255, 255, 255, .4);border - radius: 4px; background - clip: padding - box;display: block;font - family: 'Open Sans', sans - serif; font - size: 40px; font - weight: 400; background - color: white;color: #855C6A;margin-left: 26px; padding:0px 10px 20px  10px;" })
                @Html.ValidationMessageFor(model => model.category.ParentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div >
            <div >
                <input type="submit" value="Create" class="button" />
            </div>
        </div>
    </div>
}
