@model IEnumerable<DI.Reminder.Common.CategoryModel.CategoriesModel>

@{
    ViewBag.Title = "ShowAll";
}
<link href="~/Content/RegistrationSheet.css" rel="stylesheet" />
<h2 class="title">All categories</h2>

<table>
    <tr class="title">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="padding-left:10px">
            @Html.DisplayNameFor(model => model.ParentCategory)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="boton1">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @if (item.ParentCategory == null)
        {
        <td class="boton2"> It is root category</td>
        }
        else
        {

        <td style="padding-left:20px">
            @Html.DisplayFor(modelItem => item.ParentCategory)
        </td>}
        <td style="padding-left:20px">
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
