@model DI.Reminder.Web.Models.PromptViewModel
@{
    ViewBag.Title = "Add";
}
<link href="~/Content/RegistrationSheet.css" rel="stylesheet" />
<h2 class="title">Add</h2>

@using (Html.BeginForm())
{
            @Html.AntiForgeryToken()

            <div style="width:45%; float:left">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.LabelFor(model => model.Prompt.Name, htmlAttributes: new { @class = "boton1" })
                    <div>
                        @Html.EditorFor(model => model.Prompt.Name, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.Prompt.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.Prompt.Description, htmlAttributes: new { @class = "boton1" })
                    <div>
                        @Html.EditorFor(model => model.Prompt.Description, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.Prompt.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div >
                    @Html.LabelFor(model => model.Prompt.Category, htmlAttributes: new { @class = "boton1" })
                    <div>
                        @Html.DropDownListFor(model => model.Prompt.Category, Model.CategoryList, htmlAttributes: new { @style = " width: 300px; height: 48px; border: 1px solid rgba(255, 255, 255, .4);border - radius: 4px; background - clip: padding - box;display: block;font - family: 'Open Sans', sans - serif; font - size: 40px; font - weight: 400; background - color: white;color: #855C6A;margin-left: 28px; padding:0px 10px 20px  10px;"  })
                        @Html.ValidationMessageFor(model => model.CategoryList, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.Prompt.TimeOfPrompt, htmlAttributes: new { @class = "boton1" })
                    <div>
                        @Html.EditorFor(model => model.Prompt.TimeOfPrompt, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.Prompt.TimeOfPrompt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <div class="boton1">
                        Input image path
                    </div>
                    <div>
                        <input class="input" type="file" name="Image" accept="image/jpeg, image/png" />
                        @Html.ValidationMessageFor(model => model.Prompt.TimeOfPrompt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <div>
                        <input type="submit" value="Create" class="button" />
                    </div>
                </div>
                <div class="boton1">
                    @Html.ActionLink("Back to List", "ShowCategoryList", "Prompt")
                </div>
            </div>
        

<div style="width:45%; float:right">
    <div class="boton1">
       Actions
    </div>
    <div id="textBox">

    </div>
    <input value="Add" type="button" class="button" id="AddingButton" col="0"/>
</div>

}