@model DI.Reminder.Common.PromptModel.Prompt
@{
    ViewBag.Title = "PromptDetails";
    Layout = "~/Views/Shared/_LayoutForPages.cshtml";
}


<h2 class="title">Details</h2>
<div class="container padding-top-120">
    <div class="row ">

        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
            @Html.HiddenFor(model => model.ID)
            <div class="padding-top-20 ">
                <h3>
                    @Html.LabelFor(model => model.Name)
                </h3>

                <h4 class="padding-top-30">
                    @Html.DisplayFor(model => model.Name)
                </h4>
            </div>
            <div class="padding-top-20 ">
                <h3>
                    @Html.LabelFor(model => model.Date)
                </h3>

                <h4 class="padding-top-30">
                    @Html.DisplayFor(model => model.Date)
                </h4>
            </div>
            <div class="padding-top-20 ">
                <h3>
                    @Html.LabelFor(model => model.Description)
                </h3>

                <h4 class="padding-top-30">
                    @Html.DisplayFor(model => model.Description)
                </h4>
            </div>
            <div class="padding-top-20 ">
                <h3>
                    @Html.Label("Category")
                </h3>

                <h4 class="padding-top-30">
                    @Html.DisplayFor(model => model.Category.Name)
                </h4>
            </div>

        </div>
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
            <div class="padding-top-20 ">
                <h3>
                    @Html.Label("Time of prompt")
                </h3>

                <h4 class="padding-top-30">
                    @Html.DisplayFor(model => model.TimeOfPrompt)
                </h4>
            </div>
            <div class="padding-top-20 ">
                <h3>
                    @Html.Label(" Actions")
                </h3>

                @if (Model.Actions != null)
                {
                    foreach (var actions in Model.Actions)
                    {
                        <h4 class="padding-top-30">
                            @Html.DisplayFor(X => actions.Name)
                        </h4>
                    }
                }
                else
                {
                        <h4>
                            @Html.DisplayName("There aren't any items in this list")
                        </h4>
                }
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
            <div class="padding-top-20 ">
                <h3>
                    @Html.Label(" Image")
                </h3>
                @if (Model.Image != null)
                { <h4 class="padding-top-30">
                    <img class="img-responsive" src="@Url.Content(Model.Image)" />
                </h4>}
            </div>
        </div>

    </div>
    <div class="row padding-top-45">
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">

            <div>
                <div>
                    <h4>
                        <a type="button" href="/Prompt/Edit/@Model.ID" style="text-decoration:none; width:100%;" class="btn">Edit</a>
                    </h4>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
            <div>
                <div>
                    <h4>
                        <a type="button" href="/Prompt/Delete/@Model.ID" style="text-decoration:none; width:100%;" class="btn">Delete</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
            <div>
                <div>
                    <h4>
                        <a type="button" href="/Prompt/Navigation" style="text-decoration:none; width:100%;" class="btn">Back to list</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
