@model DI.Reminder.Common.PromptModel.Prompt

@{
    ViewBag.Title = "PromptDetails";
}
<link href="~/Content/AllPages.css" rel="stylesheet" />
<h2 class="name">Additional information about prompt</h2>
<hr />
<div style="height:500px">

    <div class="vid1" style="margin:10px;margin-left:20px;">
        <div class="title"> @Html.DisplayFor(X => Model.Name)</div>
        <div class="nam" style="margin-left:10px"> Category:@Html.DisplayFor(X => Model.Category)</div>
        <div class="nam" style="margin-left:10px">Description:</div>
        <div class="nam" style="margin-left:10px">@Html.DisplayFor(X => Model.Description)</div>
    </div>


    <div class="vid1-rigth" >
        <div class="title" style="margin-top:13px;margin-left:20px;">
            Список действий
        </div>
        @if (Model.Actions.Count != 0)
        {
            foreach (var actions in Model.Actions)
            {
        <div class="nam" style="margin:6px">
            @Html.EditorFor(X => actions.Name)
        </div>
            }
            }
            else
            {
            @Html.Display("Список действий отсутсвует")
            }
        </div>



    <div class="vid1-services">
        <div style="padding-top:10px">
            @Model.CreatingDate.ToShortDateString()
        </div>
        <div class="nam">
            Время напоминания: @Html.DisplayFor(X => Model.TimeOfPrompt)
        </div>
        <div>
            <img style="width:500px; height:300px; margin:5px" ; src="@Url.Content(Model.Image)" />
        </div>
    </div>

</div>

<div style="width:100%; height:300px; float:left">
    <a style="padding-right:10px" class="title button somebut-left" type="button" value="Prompts" href='@Url.Action("Edit", "Prompt", new { id = Model.ID })'>Edit</a>
    <a style="padding-right:10px" class="title button somebut-left" type="button" value="Prompts" href='@Url.Action("Delete", "Prompt", new { id = Model.ID })'>Delete</a>
    <a style="padding-right:10px" class="title button somebut-left" type="button" value="Prompts" href='@Url.Action("ShowCategoryList", "Prompt", new { id = 0 })'>Back to list</a>
    <a style="padding-right:10px" class="title button somebut-left" type="button" value="Prompts" href='@Url.Action("Home", "Prompt")'>Back to start page</a>
</div>



