@model DI.Reminder.Common.LoginModels.Account

@{
    ViewBag.Title = "DeleteUser";
}
<h2 class="title">Delete User</h2>
<div class="container padding-top-120">
    <div class="row">
        <h2 class="title" style="padding-bottom:30px;">Are you sure you want to delete this?</h2>
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">

            <div class="padding-top-20 ">
                <h3>
                    @Html.LabelFor(model => model.Login)
                </h3>

                <h4 class="padding-top-30">
                    @Html.DisplayFor(model => model.Login)
                </h4>
            </div>

            <div class="padding-top-20 ">
                <h3>
                    @Html.LabelFor(model => model.Email)
                </h3>

                <h4 class="padding-top-30 " style="color:#D3ED4C">
                    @Html.DisplayFor(model => model.Email)
                </h4>
            </div>
            @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="padding-top-120">
            <div>
                <h4>
                    <input type="submit"  style="text-decoration:none; width:100%;" class="btn" value="Delete user"/>
                </h4>
            </div>
        </div>}
        </div>

        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
            <div>
                <h3 class="padding-top-20 ">
                    @Html.LabelFor(model => model.Password)
                </h3>

                <h4 class="padding-top-30 ">
                    @Html.DisplayFor(model => model.Password)
                </h4>
            </div><div class="padding-top-20 ">
                <h3>
                    @Html.Label("Role")
                </h3>

                <h4 class="padding-top-30 ">
                    @Html.DisplayFor(model => model.Roles[0].Name)
                </h4>
            </div>
           
        </div>
    </div>
</div>
