@model IEnumerable<DI.Reminder.BL.Prompt>
@{
    ViewBag.Title = "Show";
}

<link href="~/Content/CategoriesSheet.css" rel="stylesheet" type="text/css" />
<link href="~/Content/AllPages.css" rel="stylesheet" />
<div class="vid">
    <div class="widget">
        <h3 class="widget-title title">Categories</h3>
        <ul class="widget-list title">
            <li>
                @Html.ActionLink("All","Show",new { id = 0 })
            </li>
            <li>
                @Html.ActionLink("Important", "Show", new { id = 1 })
            </li>
            <li>
                @Html.ActionLink("Personal", "Show", new { id = 2 })
            </li>
            <li>
                @Html.ActionLink("Work", "Show", new { id = 3 })
            </li>
            <li>
                @Html.ActionLink("Other", "Show", new { id = 4 })
            </li>

        </ul>
    </div>
</div>
@*<div id="categoryDetails"></div>*@
<div class="vid-rigth-new">
    <div style=" width:100%; background: #FADADD; display:block; min-width: 100px; height:200px;overflow-y:auto;"></div>
       @Html.Partial("ShowCategoryItems")
    </div>


