@model IEnumerable<DI.Reminder.BL.Prompt>
@{
    ViewBag.Title = "Show";
}

<link href="~/Content/CategoriesSheet.css" rel="stylesheet" type="text/css" />
<link href="~/Content/AllPages.css" rel="stylesheet" />
<div class="vid">
    <div class="widget">
        <h3 class="widget-title title">Categories</h3>
        <ul class="widget-list title">
            <li>

                @Ajax.ActionLink("All", "CategoryDetails", new AjaxOptions
                {
                    Url = Url.Action("CategoryDetails", new { _category = "All" }),
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "categoryDetails"
                })
            </li>
            <li>
                @Ajax.ActionLink("Important", "CategoryDetails", new AjaxOptions
                {
                    Url = Url.Action("CategoryDetails", new { _category = "Important" }),
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "categoryDetails"
                })
            </li>
            <li>

                @Ajax.ActionLink("Personal", "CategoryDetails", new AjaxOptions
                {
                    Url = Url.Action("CategoryDetails", new { Category = "Personal" }),
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "categoryDetails"
                })
            </li>
            <li>
                @Ajax.ActionLink("Work", "CategoryDetails", new AjaxOptions
                {
                    Url = Url.Action("CategoryDetails", new { Category = "Work" }),
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "categoryDetails"
                })
            </li>
            <li>
                @Ajax.ActionLink("Others", "CategoryDetails", new AjaxOptions
                {
                    Url = Url.Action("CategoryDetails", new { Category = "Others" }),
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "categoryDetails"
                })
            </li>

        </ul>
    </div>
</div>
@*<div id="categoryDetails"></div>*@
<div class="vid-rigth">
    <div style=" width:100%; background: #FADADD; display:block; min-width: 100px; height:210px;"></div>
        @foreach (var m in Model)
        {
            <div class="nam">
                @Html.DisplayFor(name => m.Name)
                <div style="float:right; margin-right:800px"> @Html.ActionLink("Details", "PromptDetails", new {m.ID})</div>
            </div>
            <div>

            </div>
        }
    </div>


