@model DI.Reminder.Common.LoginModels.Account

@{
    ViewBag.Title = "Registration";
}
<h2 class="title">Registration</h2>

@using (Html.BeginForm())
{
    <h2>Edit @Model.Login</h2>
    @Html.AntiForgeryToken()
    <div class="container" style="padding-top:11px">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="padding-top-30 ">
                    <h3 class="padding-bottom-90">
                        @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "boton1" })
                    </h3>
                    <h4 >
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "input form-control" } })
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                    </h4>
                </div>


                <div class="padding-top-30 input">
                    <h3 class="padding-bottom-90">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "boton1" })
                    </h3>
                    <h4 >
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </h4>
                </div>

                <div class="padding-top-30 input">
                    <h3 class="padding-bottom-90">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "boton1" })
                    </h3>
                    <h4 >
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </h4>
                </div>
                <div class="padding-top-30 input">
                    <h3 class="padding-bottom-90">
                        @Html.LabelFor(model => model.PasswordConfirm, htmlAttributes: new { @class = "boton1" })
                    </h3>
                    <h4 >
                        @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "input form-control" } })
                        @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                    </h4>
                </div>

                <div class="padding-top-30">
                    <div>
                        <h4>
                            <input type="submit" style="text-decoration:none; width:100%" class="btn" value="Save" />
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

